// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.custom {
    background-color: #3f4041 !important; /* This sets the background color*/
   }
   
  /*Set the background to transparent for ion-item*/
  .custom .item {
    background-color: transparent;
    border:none;   /*Removes all borders*/
    border-top: 1px solid;   /*Top Border for each menu item*/
    border-bottom:2px solid;   /*Bottom border for each menu item*/
    border-color: #666;   /*Sets colors for top and bottom border*/
    color: white;    /*Text color for each item*/
  }
   
  /*Changes the border for the last item*/
  .custom .item:last-child {
    border-bottom: 1px solid #666;
  }
   
  .custom .item-complex .item-content, .dark .item-radio .item-content {
    background-color: transparent;
  }
   
  /*Just makes the type white*/
  .custom h2,
  .custom h3,
  .custom p,
  .custom a {
    color: white;  /*Text color for each item, overrides the color property above*/
  }