page-cards {

   .noPadding, .scroll-content, .col{
       padding: 0% !important;
   }

   .title {
        text-overflow: clip !important;
    }
   
    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}
